HOST=0.0.0.0
PORT=9096

MAX_CONCURRENT_SCRAPES=2

XACTIONS_AUTH_TOKEN=1234567890abcdefg

CRAWLER_BASE_URL=http://localhost:9096/
TEST_X_TIMELINE_URL=https://x.com/elonmusk/
TEST_CRAWL_LIMIT=100
TEST_STOP_DATE=
TEST_REQUEST_TIMEOUT=180
TEST_WS_TIMEOUT=180
